In [1]:
import csv
from datetime import datetime
csv_file = 'budget_data.csv'

In [34]:
x=0
count=0
average=0
total=0
minimum=0
min_dt=0
maximum=0
max_dt = None
profitable_days=[]
unprofitable_days=[]

In [35]:
with open(csv_file, 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row if it exists

    # Iterate through each row in the CSV file
    for row in csv_reader:
        # Extract date and profit/loss amount from the current row
        date, amount = row[0], row[1]
        x = float(amount)
        #date = datetime.strptime(date_str, '%Y-%m-%d')

            
            
        # Cumulatively sum up the total and count of tips

        # Logic to determine minimum and maximum values
        if x < minimum:
            minimum = x
            min_dt =date 
        elif x > maximum:
            maximum = x
            max_date = date

        total += x
        count += 1

#### The total number of months included in the dataset.

In [61]:
print(f"Total Months: {count}")

Total Months: 86

#### The net total amount of Profit/Losses over the entire period.

In [62]:
print(f"Total: ${int(total)}")

Total: $38382578

#### The average of the changes in Profit/Losses over the entire period.

In [63]:
average=int(total/count)
print(f"Average Change: ${average}")

Average Change: $446309

#### The greatest increase in profits (date and amount) over the entire period.

In [64]:
print(max_date)
print(maximum)

Feb-2012
1170593.0

In [65]:
print(f"Greatest Increase in Profits: {max_date} (${int(maximum)})")

Greatest Increase in Profits: Feb-2012 ($1170593)

#### The greatest decrease in losses (date and amount) over the entire period.

In [66]:
print(min_dt)
print(minimum)

Sep-2013
-1196225.0

In [67]:
print(f"Greatest Derease in Profits: {min_dt} (${int(minimum)})")

Greatest Derease in Profits: Sep-2013 ($-1196225)

In [60]:
# Set the output file path
output_path = Path("output.txt")

In [81]:
# write file
with open(output_path, 'w') as file:
    file.write("Financial Analysis\n")
    file.write("*"*20)
    file.write("\n")
    file.write("Total Months: {}\n".format(count))
    file.write("Total: $ {}\n".format(int(total)))
    file.write("Average Change: $ {}\n".format(int(average)))
    file.write("Greatest Increase in Profits: {}".format(max_date))
    file.write(" ${}\n".format(int(maximum)))
    file.write("Greatest Decrease in Profits: {}".format(min_dt))
    file.write(" ${}\n".format(int(minimum)))

In [86]:
## check max min results using panda

import pandas as pd
from pathlib import Path
df = pd.read_csv("budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [90]:
df[df['Profit/Losses']==df['Profit/Losses'].max()]

        Date  Profit/Losses
25  Feb-2012        1170593

In [91]:
df[df['Profit/Losses']==df['Profit/Losses'].min()]

        Date  Profit/Losses
44  Sep-2013       -1196225